@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    
}

#root{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-image: url("./assets/tools-for-motivation-KvTOwKoji7g-unsplash.jpg");
    background-size: cover;
    
    overflow-y: scroll;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0,0,0,0.5);
    backdrop-filter: blur(15px);
    padding: 0px 30px;
    position: sticky;
    top: 0px;
    z-index: 100;
}
.logo-div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchForm-div{
    margin-left: 20px;
}
.searchForm{
    display: flex;
    gap: 10px;
}
.searchForm input{
    width: 600px;
    padding: 6px 15px;
    border-radius: 8px;
    border: none;
    outline: none;
}
.searchForm button{
    padding: 6px 30px;
    border-radius: 6px;
    border: none;
}


.profile-div{
    display: flex;
    align-items: center;
    gap: 30px;
    
}
.profile-div span img{
    width: 25px;
    height: 25px;
}
#manIcon{
    width: 45px;
    height: 45px;
}


.display-books-div{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    gap: 25px;
    padding: 20px 35px;
    flex-wrap: wrap;
    margin-top: 40px;


}

.each-book-div{
    display: flex;
    background-color:rgb(0,0,0,0.3);
    backdrop-filter: blur(10px);
    padding: 20px;
}
.book-img-div{
    width: 180px;
    height: 270px;
    background-color:rgb(0,0,0,0.5);
    backdrop-filter: blur(10px);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 8px 15px black;
}
.book-img-div img{
    width: 100%;
    height: 100%;

}

.book-details-div{
    width: 80vw;
    margin: auto;
    display: flex;
    margin-top: 50px;
    background-color: rgb(0,0,0,.5);
    backdrop-filter: blur(10px);
    position: relative;
     
}
.book-details-div img{
    width: 150px;
    height: 250px;
    transform: rotate(-20deg);
}
.info-div{
    margin-left: 50px;
    padding: 20px;
}

.info-div h1{
    margin: 10px 0 20px 0;
    color: aliceblue;
}

.info-div h2, p{
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.author{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    margin-bottom: 20px;
}

.description{
    
    border-bottom: 20px;
    margin-bottom: 20px;
}
.description p{
    color: rgb(209, 205, 205);
    font-size: 14px;
}
.rating{
    display: flex;
    gap: 20px;
    font-weight: 600;
    
    
}
.rating span{
    color: white;
}
.btns{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
.btns button{
    padding: 6px 15px;
    border-radius: 10px;
    border: none;
}
